/* Global Layout */
body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
}

.page-layout {
    display: grid;
	grid-template-columns: 1px 1fr;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
}


/* Main content wrapper */
.centered {
    width: 70%;
    margin: 0 auto;
	text-align: center;
}

/* Description paragraph */
.description {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.5;
    font-size: 16px;
}

/* Course heading */
.course-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* Main acronym title */
.project-acronym {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

/* Full expanded project name */
.project-subtitle {
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* Table Styling */
table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th, td {
    padding: 8px 16px;
    font-size: 16px;
}

th {
    border-bottom: 2px solid black;
    font-weight: bold;
}


/* Button Style */
.nav-btn {
	display: inline-block;
	padding: 15px 40px;
	text-decoration: none;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid black;
	color: black;
	transition: 0.2s ease;
	width: 100%
}

/* Hover Effect */
.nav-btn:hover {
	background-color: black;
	color: white;
}

/* Horizontal button row (used on Home page) */
.btn-row {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Left-side vertical menu (used on Documents/Videos pages) */
.btn-col-left {
	width: 150px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;    /* vertical center */
	align-items: flex-start;    /* left align */
	padding-left: 20px;
	gap: 15px;
}

.doc-btn-col-left {
	width: 245px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;    /* vertical center */
	align-items: flex-start;    /* left align */
	padding-left: 20px;
	gap: 15px;
}

.doc-btn-col-center {
    width: 245px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /*was flex-start*/
    padding-left: 20px;
    gap: 15px;
    justify-self: center;  
}

